.guage {
    width: 400px;  /* Set your desired width */
    height: 190px; /* Set your desired height */
  
  }

  .font {
    color: #FFF;
  }
  
  /* Dropdown arrow color */
.navbar .nav-link.dropdown-toggle::after {
  border-top: 0.3em solid #FFFFFF;  /* Ensure this is the color you want */
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
  border-bottom: 0;
}

/* Underline for the current tab */
.navbar .nav-link.active {
  border-bottom: 2px solid #FFFFFF; /* Adjust the thickness as needed */
}
.navbar .nav-link:hover {
  border-bottom: 2px solid #FFFFFF; /* Adjust the thickness as needed */
}
.title1{
  font-size: 220%;
  color: #FFF;
  font-weight:650;
}
.value1{
  font-size: 180%;
  margin-top: -2%;
  color: #FFF;
  font-weight:500;
}
.title2{
  font-size: 230%;
  color: #FFF;
  /* margin-bottom: 80px; */
  font-weight:650;
}
.value2{
  font-size: 250%;
  color: #FFF;
  /* font-weight:500; */
}